@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #112d4e;

  --seconday-foreground: #112d4e50;

  --side-bar-background: #dbe2ef;
  --side-bar-foreground: #112d4e;
  --side-bar-secondary-background: #3f72af;

  --border-background: #112d4e;

  --card-background: #112d4e;
  --card-foreground: #dbe2ef;

  --button-background: #3f72af;
  --button-foreground: #dbe2ef;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary-background: var(--seconday-foreground);

  --color-side-bar-background: var(--side-bar-background);
  --color-side-bar-foreground: var(--side-bar-foreground);
  --color-side-bar-secondary-background: var(--side-bar-secondary-background);

  --color-border-background: var(--border-background);

  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);

  --color-button-background: var(--button-background);
  --color-button-foreground: var(--button-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
